*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    background-color: teal;
}

#form{
    background-color: white;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
    width: 300px;
}

.form-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 7px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-control input{
    border: 1px solid gray;
    outline: unset;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    padding-left: 5px;
}
.form-control.success input{
    border-color: green;
}
.form-control.error input{
    border-color: rgb(233, 143, 143);
}



.form-control i{
    position: absolute;
    top: 28px;
    right: 5px;
    visibility: hidden;
}

.form-control.success i.fa-check{
    visibility: visible;
    color: green;
}
.form-control.error i.fa-circle-exclamation{
    visibility: visible;
    color: red;
}


.form-control small{
    visibility: hidden;
    font-size: 12px;
}
.form-control.error small{
    visibility: visible;
    color: red;
}

#form button{
    background-color: teal;
    border: 2px solid teal;
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    #form{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}